*
!*/
!.gitignore
!.gitattributes
!*.v
!*.w
!*.pcf
!*.ka
!*.mu
!*.args
!*.h
!*.glsl
!*.sh
!*.md
!LICENSE
!screenshot.png
!data_gen/*.png
!hw/build/unused.txt
!textures/custom_*.png
data_gen/generated_block_info.mu
hw/core.v
hw/core_*.v
hw/src/data_sim.w
hw/src/firmware.w
hw/src/static_data.w
